@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url(//db.onlinewebfonts.com/c/4eea07042f42a24eee7dae1518d2141d?family=Gesso);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color:#edede8;


}



/* header banner  */
header {
  display: flex;

  background-color:#437111;
  color: white;
  height: 30px;
  align-items: center;
  justify-content: center;
  
}
header>p{
  background-color:#437111;
  font-size:14px;
}
/* header banned ended */


/* nav bar */

.box1>ul{
  display: inline-flex;
  justify-content:flex-start;
  list-style: none;

}
.box1>ul li{
  margin: 15px;
  cursor: pointer;
}

.box1>ul>li:hover a{
 color:#98cb4d
}
a>li{
  color: black;
}
.sub-menu{
display: none;
z-index: 1;

}
.box1>ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: white;
 

}
.box1>ul li:hover .sub-menu ul {
  list-style-type:none;
  background-color:white;
  display:block;
 
 

}
.box1>ul li:hover .sub-menu ul li{
  width: 150px;
  background-color:white;
  text-align:left;
  cursor: pointer;
}
.sub-menu ul li:hover{
  transform: scale(0.90);

  transition: all 0.2s ease;
  cursor:pointer;
  color: #437111;
}
a{
  text-decoration: none;
  color: black;
}
.navbar {

  width: 100%;
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
}
.box2 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1{
  width: 33%;
  gap: 10px;
  align-items: center;
  list-style-type: none;
  padding-left: 25px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing:1.5px
  
}
.box3 {
  
  width: 33%;
  justify-content: flex-end;
  display: flex;
  gap: 25px;
  align-items: center;
  padding-right: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  
}
.box2 > img {
  width: 50%;
  cursor: pointer;
}  

nav{
  position: sticky;
  top:0px;
  z-index: 1;
  background-color: #eeeeea;
}
/* navbar ended */




/* section */
section {

  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
section > div > a {
  color: grey;
}

/* section ended   */




/* navigator */

.navigator {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 30px;
  background-color: #edede8;
  margin-top: 100px;
}
.navigator>div>p{
  font-size:14px;
  cursor: pointer;
}


/*-------- crouser------- */
/* #caruser>img{
 

} */

/* navigator ended */





/* main cobtebt box */
#recomended_header{
    width: 100%;
    height: 300px;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#recomended_header>img{
 
   
    width: 35%;
    height: 200px;
    
   


    
}

#recomended_container{
  
  width: 100%;
  display:grid;
  margin: 0 auto;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  grid-row-gap: 50px;
 
  padding-left: 15%;
  padding-right: 15%;

}

#recomended_container>div{
 /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin: auto;
  background-color: transparent;
  font-size: 15px;  
   
}

.img_container{
    /* border: 1px solid red; */
  width: 90%;
  height: 400px;

  border-radius: 30px;
  margin-bottom: 50px;
  background-color: transparent;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
  
 

}
.img_container>img{
    

width: 100%;
height: 100%;
margin-bottom: 20px;
background-position: center;
background-size: cover;
transition: 0.6s;
cursor: pointer;

}


.img_container>img:hover{
  -ms-transform: scale(1.2); 
 -webkit-transform: scale(1.2); 
  transform: scale(1.1); 
}

#recomended_container button{
display: block;
width: 110px;
height: 35px;
margin: auto;
background-color:  #cd171f;
border-radius: 20px;
border: none;
margin-top: 15px;
color: white;
cursor: pointer;
}

#kimahi_mid{
    width: 100%;
    height: auto;
    background-image:  url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/green_bg.png?v=1600154659);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
}
#kimahi_mid>img{
    width: 35%;
    height: 80%;
    background-color: transparent;
    margin-top: 4.5%;
}
#green_mid_text{
    background: transparent;
    /* border: 1px solid red; */
    height: auto;
    width: 37%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
   
}
#green_mid_text>p{
    background-color: transparent;
    color: white;
    margin-left: 15px;
    
}

#green_mid_text :nth-child(1){
    width: 100%;
    /* border: 1px solid red; */
}

#green_mid_text :nth-child(7){
    width: 55%;
  
    /* border: 1px solid red; */
}
#green_mid_text>button{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: none;
   cursor: pointer;
    margin-top: 20px;
    
}
#green_botm>img{
    width: 100%;
    /* border: 1px solid blue; */
}
#yellow_div{
    width: 100%;
    height: auto;
    background-image:  url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/yellow_bg.png?v=1600179877);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
    /* border: 1px solid red; */

}

#upper_img_yellow{
    margin-top: 5%;
}

#bottom_img_yellow img{
    width: 100%;
}

#for_us_container{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
}

#for_us{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#for_us>div{
  width: 15%;
  border-radius: 20px;
 
}

#for_us>div:hover{
  opacity: 0.8;
  cursor: pointer;
 
}
#for_us img{
  width: 100%;
 border-radius: 20px;
}

#secrate{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color: transparent;

}

#secrate>img{
  width: 40%
}


.knowus{
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 60px;
  border-radius: 30px;
  /* border: 1px solid red; */
}

#knowus_img{
  display: block;
  /* border: 1px solid red; */
  width: 100%;
  border-radius: 30px;
}
.knowus>div>h4{
  color: grey;
  border-radius: 5px;
  width: 45%;
  text-align:justify;
}
.knowus>div>h4:hover{
  color: black;
  background-color: yellow;
  cursor: pointer;
}.knowus>div:nth-child(1)>img{
  width: 400px;
}


/* main content box ended */





/* footer */
footer>div{
    /* border: 1px solid red; */
  display: flex;
  /* width: 90%; */
  justify-content: space-between;
  padding: 0 30px;
  background-color: #7d9c5b;
  color:black;
  padding-top:50px;
  margin-top: 20px;
}
footer>div{
  border-bottom:1px solid grey;
  padding-bottom: 10px;
  padding:30px 80px ;


}
footer>div>div{
  background-color:#7d9c5b;
}
footer>div>div>p{
  background-color:#7d9c5b;
}

.copyright{
 display:grid;
 grid-template-columns: repeat(2,1fr);
 justify-content:space-between;
   background-color:#7d9c5b;
   padding:20px 80px ;
 

}
.copyright>img{
  width:100px;
  margin: auto;
  margin-right: 10px;
  background-color:#7d9c5b;
  

}
.copyright>p{
  background-color:#7d9c5b;
}
.social_icon>img{
  background-color:#7d9c5b;
}
#box2>div>h3{
  background-color:#7d9c5b;
 
}
.social_icon{
  background-color:#7d9c5b;


}




 
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
      
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

     
      .swiper {
        width: 60%;
        height: 70%;
        background-color: transparent;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: transparent;
       /* border: 1px solid red; */

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: transparent;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid red; */
        border-radius: 30px;
        background-color: transparent;
        
      }
      .swiper-button-next{
        background-color: transparent;
        cursor: pointer;
      }
      
      .swiper-button-prev{
        background-color: transparent;
        cursor: pointer;
      }


      *{
            margin: 0px;
            padding: 0px;
            background-color: #edede8;
            /* box-sizing: border-box; */
        }
        .caruser{
            width: 99.50%;
            position: relative;
            
        }
        .caruser>img{
            width: 100%;
        }
        .caruser>button{
           width: 100px;
           height: 100px;
            position: absolute;
            top: 45%;
           font-size: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .caruser>button:nth-child(2){
          cursor: pointer;
            left: 10px;
        }

        .caruser>button:nth-child(3){
            right: 10px;
            cursor: pointer;
        }
   

        @media all and (min-width: 768px) and (max-width: 1024px){

          #recomended_container{
  
            width: 100%;
            display:flex;
            flex-direction: column;
            margin: 0 auto;
           
            justify-content: center;
            grid-row-gap: 50px;
           
           
          }

          #recomended_container>div{
            /* border: 1px solid blue; */
             width: 100%;
             height: auto;
             margin: auto;
             background-color: transparent;
             font-size: 15px;  
              
           }

           


      
        

      
          #kimahi_mid{
            width: 100%;
            height: auto;
            background-image:  url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/green_bg.png?v=1600154659);
          
            background: #6f9049;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            gap: 30px;
            border: 1px solid red;
        }


        #kimahi_mid>img{
          width: 80%;
          height: 80%;
          background-color: transparent;
          margin-top: 4.5%;
      }


      #green_mid_text{
        background: transparent;
        /* border: 1px solid red; */
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
       
    }


   

        }

        @media all and (min-width: 320px) and (max-width: 767px) {


          #recomended_container{
  
            width: 100%;
            height: auto;
            display:flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 0px;
            justify-content: center;
            grid-row-gap: 50px;
           
           
          }

          #recomended_container>div{
            /* border: 1px solid green; */
             width: 80%;
             height: auto;
             margin: auto;
             background-color: transparent;
             font-size: 15px;  
              
           }

           #recomended_header>img{
 
   
            width: 100%;
            height: 300px;
            
           
        
        
            
        }


          #kimahi_mid{
            width: 100%;
            height: auto;
            background-image:  url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/green_bg.png?v=1600154659);
          
            background: #6f9049;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            gap: 30px;
            border: 1px solid red;
        }


        #kimahi_mid>img{
          width: 90%;
          height: 90%;
          background-color: transparent;
          margin-top: 4.5%;
      }


      #green_mid_text{
        background: transparent;
        /* border: 1px solid red; */
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
       
    }


    #for_us{
      width: 90%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: auto;
      justify-content: center;
      align-items: center;
      gap: 20px;
      /* border:1px solid red */
    }

    #for_us>div{
      width: 100%;
      border-radius: 20px;
     
    }

        }


        /* side bar */

            /* side-bar */

    .side-bar{
      height: 100%;
      border: 1px solid black;
      position: fixed;
      /* background-color: #ffffff; */
      right: 0px;
      top: 0px;
      width: 370px;
      z-index:10;
      text-transform: capitalize;
      display: none;
      overflow: auto;
    }
    .side-bar>div{
      padding:10px;
      /* background-color:white; */
  
    }
    .btn_checkout>button:first-child{
      padding: 8px 30%;
      margin: 5%;
      border: none;
      background:rgba(128, 128, 128, 0.277);
      text-transform: uppercase;
    }
    .btn_checkout>button:last-child{
      padding: 8px 20%;
      margin: 5%;
      border: none;
      background:rgba(128, 128, 128, 0.277);
      text-transform: uppercase;
      
    }
    

  
    
    #tax{
      font-size:15px
    }
    .side-bar>div:first-child{
      background-color:black;
      display:flex;
      gap: 15px;
      justify-content: space-around;
  
    }
    .side-bar>div:first-child>p{
      background-color:black;
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      padding:15px;
    }
     tbody>tr>button{
      /* background-color:white; */
      /* border: 1px solid black; */
      border: none;
      /* background-color:white; */
      padding:5px 8px;
      border-radius:5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
    tbody>tr>td>p{
      font-size:15px
    }
    tbody>tr>td>small{
      color: black;
    }
    /* tbody>tr>button:hover{
      background-color:red
    } */
    .side-bar>div:first-child>button{
      background-color:black;
      color: white;
    }
    .side-bar>div:first-child>button:hover{
      color: red
    }
    .side-bar>div+div{
      padding:25px;
      color: grey;
      /* background-color: white; */
      
    }
    .subtotal{
      display:flex;
      justify-content:space-between;
      margin-right:10px;
      border-top: 1px solid rgba(128, 128, 128, 0.275);
      border-bottom: 1px solid rgba(128, 128, 128, 0.275);
      
    }


    /* percentage bar */
    .progress-bar{
      background:rgba(128, 128, 128, 0.277);
      width: 300px;
      height: 30px;
      border-radius:10px;
  
  }
  .progress-bar >div{
      height: 30px;
      width: 80px;
      background: rgb(228,24,22);
background: radial-gradient(circle, rgba(228,24,22,1) 37%, rgba(241,216,169,0.8748541652989321) 100%);
      border-radius:10px;
  }
  .progress-bar >div>span{
      height: 45px;
      width: 40px;
      border-radius:10%;
      float: right;
      background:white;
      display: flex;
      align-items: center;
      margin-top:-10px;
      margin-right: -20px;
      justify-content: center;
      
  
  }
  .free_shipping{
    margin-top: 30px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius:5px;
    font-size:15px;
  }
  #imgproduct{
    width: 120px;
  }