@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color:#edede8;


}



/* header banner  */
header {
  display: flex;

  background-color:#437111;
  color: white;
  height: 30px;
  align-items: center;
  justify-content: center;
  
}
header>p{
  background-color:#437111;
  font-size:14px;
}
/* header banned ended */


/* nav bar */
.navbar {
  width: 98%;
  display: flex;
  margin-top: 10px;
  margin: auto;
}
.box2 {
  width: 33%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.box1{
  width: 33%;
}
.box1>ul {
  width: 100%;
  gap: 5px;
  align-items: center;
  list-style-type: none;
  padding-left: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing:1.5px
  
}
.box3 {
  
  width: 33%;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 30px;
  font-size: 1.2rem;

  
}
#cart:hover{
  color: green
}
.box2 > img {
  width: 35%;
}
nav{
  position: sticky;
  top:0px;
  z-index: 1;
  background-color: #eeeeea;
}

.box1>ul{
  display: inline-flex;
  list-style: none;
}
.box1>ul li{
  width: 120px;
  margin: 15px;
}


.sub-menu{
display: none;
z-index: 1;

}

.box1>ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: white;

}
.box1>ul li:hover .sub-menu ul {
  list-style-type:none;
  background-color:white;
  display:block;
 

}
.box1>ul li:hover .sub-menu ul li{
  width: 150px;
  background-color:white;
  text-align:left;
}
.sub-menu ul li:hover{
  transform: scale(0.90);
  color:#98cb4d;
  transition: all 0.2s ease;
  cursor:pointer;
}


/* navbar ended */




/* section */
section {

  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
section > div > a {
  color: grey;
}

/* section ended   */




/* navigator */

.navigator {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 30px;
  background-color: #edede8;
  margin-top: 100px;
}
.navigator>div>p{
  font-size:14px;
}

/* navigator ended */





/* main cobtebt box */

#container{
  
  width: 85%;
  display:grid;
  margin: 0 auto;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 20px;

}

#container>div{
  width: 100%;
  height: auto;
  margin: auto;
  background-color: transparent;
  font-size: 19px;  
}

.img_container{
  width: 100%;
  transition: transform .2s;
  position: relative;
  margin-bottom: 50px;
  background-color: transparent;

}
.img_container>img{
border-radius: 30px;
width: 100%;
height: 100%;
margin-bottom: 20px;
background-position: center;
background-size: cover;
transition: 0.2s;
}
.img_container>button{
  width: 100%;
  height: 15%;
  color: aliceblue;
  position: absolute;
  bottom: -50px;
  left: 0px;
  opacity: 0;
  transition: 0.3s;
  background-color:#437111;
  border-radius: 0px 0px 30px 30px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

.img_container:hover{
  -ms-transform: scale(1.1); 
 -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.img_container:hover button{
  bottom: 0px;
  opacity: 1;

}
/* main content box ended */





/* footer */
footer>div{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #7d9c5b;
  color:black;
  padding-top:50px;
  margin-top: 20px;
}
footer>div{
  border-bottom:1px solid grey;
  padding-bottom: 10px;


}
footer>div>div{
  background-color:#7d9c5b;
}
footer>div>div>p{
  background-color:#7d9c5b;
}

.copyright{
 display:grid;
 grid-template-columns: repeat(2,1fr);
 justify-content:space-between;
   background-color:#7d9c5b;
   padding:30px;
 

}
.copyright>img{
  width:100px;
  margin: auto;
  margin-right: 10px;
  background-color:#7d9c5b;
  

}
.copyright>p{
  background-color:#7d9c5b;
}
.social_icon>img{
  background-color:#7d9c5b;
}
#box2>div>h3{
  background-color:#7d9c5b;
 
}
.social_icon{
  background-color:#7d9c5b;


}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  cursor:pointer;
  }
  
  .hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
  }
  
  .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }

  /* cart */
  #imgProduct {
    width: 80px;
  }
  #qty {
    padding: 0 14px;
    /* border: 1px solid black; */
  }
  #btnDec,#btnInc {
    border: none;
    margin: 5px;
    padding: 0 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

    /* side-bar */

    .side-bar{
      height: 100%;
      border: 1px solid black;
      position: fixed;
      /* background-color: #ffffff; */
      right: 0px;
      top: 0px;
      width: 370px;
      z-index:10;
      text-transform: capitalize;
      display: none;
      overflow: auto;
    }
    .side-bar>div{
      padding:10px;
      /* background-color:white; */
  
    }
    .btn_checkout>button:first-child{
      padding: 8px 30%;
      margin: 5%;
      border: none;
      background:rgba(128, 128, 128, 0.277);
      text-transform: uppercase;
    }
    .btn_checkout>button:last-child{
      padding: 8px 20%;
      margin: 5%;
      border: none;
      background:rgba(128, 128, 128, 0.277);
      text-transform: uppercase;
      
    }
    

  
    
    #tax{
      font-size:15px
    }
    .side-bar>div:first-child{
      background-color:black;
      display:flex;
      gap: 15px;
      justify-content: space-around;
  
    }
    .side-bar>div:first-child>p{
      background-color:black;
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      padding:15px;
    }
     tbody>tr>button{
      /* background-color:white; */
      /* border: 1px solid black; */
      border: none;
      /* background-color:white; */
      padding:5px 8px;
      border-radius:5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
    tbody>tr>td>p{
      font-size:15px
    }
    tbody>tr>td>small{
      color: black;
    }
    /* tbody>tr>button:hover{
      background-color:red
    } */
    .side-bar>div:first-child>button{
      background-color:black;
      color: white;
    }
    .side-bar>div:first-child>button:hover{
      color: red
    }
    .side-bar>div+div{
      padding:25px;
      color: grey;
      /* background-color: white; */
      
    }
    .subtotal{
      display:flex;
      justify-content:space-between;
      margin-right:10px;
      border-top: 1px solid rgba(128, 128, 128, 0.275);
      border-bottom: 1px solid rgba(128, 128, 128, 0.275);
      
    }


    /* percentage bar */
    .progress-bar{
      background:rgba(128, 128, 128, 0.277);
      width: 300px;
      height: 30px;
      border-radius:10px;
  
  }
  .progress-bar >div{
      height: 30px;
      width: 80px;
      background: rgb(228,24,22);
background: radial-gradient(circle, rgba(228,24,22,1) 37%, rgba(241,216,169,0.8748541652989321) 100%);
      border-radius:10px;
  }
  .progress-bar >div>span{
      height: 45px;
      width: 40px;
      border-radius:10%;
      float: right;
      background:white;
      display: flex;
      align-items: center;
      margin-top:-10px;
      margin-right: -20px;
      justify-content: center;
      
  
  }
  .free_shipping{
    margin-top: 30px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius:5px;
    font-size:15px;
  }
   